:root {
    --body-bg: rgb(0 0 0);
    --nav-bg: rgb(245 205 21);
}

.active_round::before,
.active_round::after {
    --border-radius: 1.8rem;

    content: "";
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    right: 0rem;
    background: var(--nav-bg);

}

.active_round::before {
    border-radius: 0 0 var(--border-radius);
    top: calc(var(--border-radius) * -0.7);
    box-shadow: 10px 10px 0 10px var(--body-bg);

}

.active_round::after {
    border-radius: 0 var(--border-radius) 0 0;
    bottom: calc(var(--border-radius) * -0.7);
    box-shadow: 10px -10px 0 10px var(--body-bg);

}